@media only screen and (min-width: 600px) {
.adsforwp-footer-prompt {    
    flex-direction: row;
    justify-content: center;
}
.adsforwp-sticky-ad-close {              
  right: 0px;              
}
}
.adsforwp-footer-prompt{               
    width: 100vw;
    line-height: 2em;
    background-color: #fff;
    color: #333;
    text-align: center;
    text-decoration: none;    
    min-height: 10%;
    padding-top:20px;
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;               
    z-index: 9999;
}
.adsforwp-stick-ad{
    display: inline-block;
    vertical-align: middle;
}
.adsforwp-sticky-ad-close {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.adsforwp-sticky-ad-close:hover {
  opacity: 1;
}
.adsforwp-sticky-ad-close:before, .adsforwp-sticky-ad-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #333;
}
.adsforwp-sticky-ad-close:before {
  transform: rotate(45deg);
}
.adsforwp-sticky-ad-close:after {
  transform: rotate(-45deg);
}

.adsforwp-bg-ad{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
 }
.adsforwp-bg-content{
    z-index: 1;
    margin: auto;
    position: absolute;
    top: 0; 
    left: auto; 
    bottom: 0; 
    right: auto;
    margin: 0px 16%;
 }      
 
 
 /*
 popup ad css starts here
 */
 
 /* The Modal (background) */
 
 @keyframes adsforwp-popup-ad-delay {
  to {
    visibility: visible;
  }
}
.adsforwp-popup-modal {  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  background: rgba(240, 240, 240, 0.83);
}

/* Modal Content */
.adsforwp-popup-content {
    background-color: transparent;
    margin: auto;
    padding: 20px;    
    position: relative;
    text-align: center;
}

/* The Close Button */
.adsforwp-popup-content .adsforwp-popup-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 13px;
    right: 0;
    line-height: 0;
}
.adsforwp-popup-content .adsforwp-popup-close:after {
    display: inline-block;
    content: "\00d7";
}

.adsforwp-popup-content .adsforwp-popup-close:hover,
.adsforwp-popup-content .adsforwp-popup-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.adsforwp-popup-content .afw{
    display: inline-block;
    margin: 0 auto;
    position: relative;
}
 /*
 popup ad css ends here
 */
 .adsforwp-hide{
     display: none;
 }