.afw_hide{
    display: none!important;
}
input[name=manual_ads_type] {    
    border: 0px;
    color: black;
}
input[name=adsforwp_group_shortcode] {    
    border: 0px;
    color: black;
}
.afw_input {
    width: 50%;
}
.afw_select {
    width: 50%;
}
.afw_textarea {
    width: 50%;
}
.afw-group-ads{
    background-color: #f9f9f9; 
}
.afw-error {
    color:red;
}
.afw-table-expire-ad label{
    font-size: 14px;
    font-weight: 500;  
}
.afw-table-expire-ad td{
    padding-top:5px;
    padding-bottom:5px;
}
.adsforwp_ad_expire_from_span{
    position: absolute;
    top: 53px;
    right: 25px;
    cursor: pointer;
}
.adsforwp_ad_expire_to_span{
    position: absolute;
    top: 94px;
    right: 25px;
    cursor: pointer;
}
input[name=adsforwp_group_ref_interval_sec]{
    width: 100px; 
}
.afw-import table th{
    width: auto;
    font-weight: 600;
    padding: 0px;
} 
.afw-settings-list{
    display:inline-block;
    width:100%
}
.afw-settings-list li{
    padding:15px;
    padding-left:0px;
}
.afw-settings-list li div label{
    font-weight: 600;
}
.afw-general h2{
    margin-bottom: 0px;
}
.afw-settings-form p.submit{
    margin-top:0px;
}
.afw_qanda_p{
    font-weight: 500;
}
#adsforwp_ad_image, #ad_background_image{
    background: #ffffff;
}
.afw_ad_img_margin{
    display: flex;
}
.afw_ad_img_margin input{
    width: 75px;
    margin-right: 20px;
}
.afw_ad_thumbnail {
    position: relative;        
    padding-top: 10px;
}
.afw_ad_thumbnail img {
    max-width:100%;
    max-height:100%;
}

.afw_ad_prev_close {
    display: block;
    position: absolute;
    width:30px;
    height:30px;
    top: 12px;
    right: -10px;
    color: #fff;
    font-size: 20px;
    }
    
.afw_embed_span{
    font-size: 16px;
}

.adsforwp-support table th{
   width: 0px;
   padding: 0px;
}
.afw-query-success{
    color: #006600;
}
.afw-query-error{
    color: #bf3322;
}
.afw-embed-code-ul{
    padding-left: 50px;
    padding-top: 30px;    
}
.afw-embed-code-ul li {
    font-size: 17px;
}
.afw-non-amp-visibility{
    padding-top: 20px;
}

/* Analytics page css starts here! */
.afw-analytic_container{
   display: flex; 
}
.adsforwp-analytics-tabs{
    width: 40%;
    border-bottom: 0px;
}
.adsforwp-analytics-tabs a{
    margin-left: 0px;
    padding: 0px;
    padding-left: 20px;
    height:30px;
    padding-right: 20px;
}
.afw-analytics-title{
    width: 25%;
}
.afw-analytics-days{
    padding-top: 9px;
    text-align: center;
}
.afw-analytics-days select{
    height:30px;
}
.afw-analytics_track_report-div{
    margin-top: 40px;
    display: flex;
}
.afw-analytics_track_report-div div{
    width: 75%;
    padding-left: 10px; 
}
.afw-diff-precentage{
    font-size: 17px;
    font-weight: 400;
    color: green;
}
.afw-token-div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-grid;
}
.afw-token-div input{
    margin-bottom: 20px;
}
.afw_view_settings_option{    width: 15%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    padding-top: 15px;}
.adsforwp_red{
    color: red;
} 
.adsforwp_green{
    color: green;
}
.afw-widefat{
        border: 0px !important;
}
.afw-placement-groups{
       border: 1px solid #e5e5e5;   
}
.afw-placement-button{
    padding: 3px 10px; 
    color: #0d0d0d; 
    font-size: 14px; 
    border: 1px solid #aaa; 
    border-radius: 2px; 
    background: linear-gradient(#ededed, #ffffff);
    cursor: pointer;
}
/* Analytics page css ends here! */

/*
Tooltip css starts here

*/
.adsforwp-tooltip {
    position: relative;
    display: inline-block;   
}
.adsforwp-tooltip .adsforwp-tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -25px;
}
.adsforwp-tooltip:hover .adsforwp-tooltiptext {
    visibility: visible;
}

.adsforwp-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/*
Tooltip css ends here

*/
.adsforwp-error{
    color: #ff0000 !important;
}
.adsforwp-tools th{
    width: auto;
    padding: 0px;
}
.adsforwp-tools-field-title strong {
    padding-right: 130px;
    width: 300px;   
}
.adsforwp-tools .form-table td{
    padding: 0px;
}
.adsforwp-tools .adsforwp-tooltip {
    width: 28%;
}
.adsforwp-visitor-condition-widefat{
        border: 0px !important;
}
.adsforwp-visitor-condition-groups{
       border: 1px solid #e5e5e5;   
}
.adsforwp-center{
    text-align: center;
}
.adsforwp-visitor-condition-div{
    padding-top: 10px;
}
.adsforwp-general table th{
    padding: 8px 12px 0px 0;
}
.adsforwp-general table td{
    padding: 8px 13px;
}
.adsforwp-advance-option-click{
    padding-left: 20px !important;
    padding-right: 5px !important;        
}
#ads_on_every_paragraphs_number{
    margin-left: 20px !important;
    margin-right: 5px !important;        
}
a.adsforwp-advance-option-click:focus {
    text-decoration: underline;
    color: #0073aa;
    box-shadow: none;
}
/*
Advance settings css starts here
*/
.adsforwp-advance th{
    width: auto;
    padding: 0px;
}
.adsforwp-tools-field-title strong {
    padding-right: 130px;
    width: 300px;   
}
.adsforwp-advance .form-table td{
    padding: 0px;
}
.adsforwp-advance .adsforwp-tooltip {
    width: 25%;
}
/*
Advance settings css ends here
*/
.adsforwp-user-targeting-note{
    color:red;
}
 /*
Ads css on plugins list page in WordPress starts here
 */
.adsforwp-wdi-rate-stars{display:inline-block;color:#ffb900;position:relative;top:3px;}
.adsforwp-wdi-rate-stars svg{fill:#ffb900;}
.adsforwp-wdi-rate-stars svg:hover{fill:#ffb900}
.adsforwp-wdi-rate-stars svg:hover ~ svg{fill:none;}
/*
Ads css on plugins list page in WordPress starts here
 */        
 .adsforwp_view_report_btn{
    display: inline-block;
    background: #444444;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 0 13px;
    height: 30px;
    cursor: pointer;
 }

/*
Adsforwp Ads blocker notice option panel css
*/
.afw-nt-flds .afw-radio-label{
    display: inline;
}
.afw_ad_blocker_notice{
    padding:20px;
    border:2px solid #ccc;
    border-radius: 5px;
    background: #eaeaea;
    position: relative;
    right: 225px;
}
.adsforwp-general .form-table tr.subchild-opt th{
    width:0;
}
.adsforwp-general table tbody tr{
    display:inherit;
    clear: both;
}

.adsforwp-general .form-table tr.child-opt th{
    padding-left: 40px;
}
.label-align{
    display: flex;
    align-items: self-start;
    width: 100%;
    margin-bottom: 10px;
}
.label-align label{
    margin-right:10px;
    width: 200px;
}