@media only screen and (min-width: 600px) {
.adsforwp-footer-prompt {    
    flex-direction: row;
    justify-content: center;
}
.adsforwp-sticky-ad-close {              
  right: 0px;              
}
}
.adsforwp-footer-prompt{               
    width: 100vw;
    line-height: 2em;
    background: hsla(0,0%,100%,0.7);
    color: #333;
    text-align: center;
    text-decoration: none;    
    min-height: 10%;
    padding-top:0px;
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;               
    z-index: 9999;
}
.adsforwp-stick-ad{
    display: inline-block;
    vertical-align: middle;
}
.adsforwp-sticky-ad-close {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.adsforwp-sticky-ad-close:hover {
  opacity: 1;
}
.adsforwp-sticky-ad-close:before, .adsforwp-sticky-ad-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #333;
}
.adsforwp-sticky-ad-close:before {
  transform: rotate(45deg);
}
.adsforwp-sticky-ad-close:after {
  transform: rotate(-45deg);
}

.adsforwp-bg-ad{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
 }
.adsforwp-bg-content{
    z-index: 1;
    margin: auto;
    position: absolute;
    top: 0; 
    left: auto; 
    bottom: 0; 
    right: auto;
    margin: 0px 16%;
 }      
 .adsforwp-hide{
     display: none;
 }
 .afw_floating_ad{
    position:sticky;
    top:70px;
    padding-top:40px;
    display:block;
 }
 .popup-ad-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100em;
  z-index: 999;
  max-width: 100em !important;
  margin: 0 auto;;
  display: none;
  background: #75757559;
}

.popup-ad-overlay:target {
  display: block;
  opacity: 1;
}
.popup-ad-box {
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup-ad-box h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup-ad-close {
  position: absolute;
  right: -10px;
  top: -10px;
  background: white;
  padding: 0px 9px;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
}
.popup-ad-box .popup-ad-close:hover {
  color: #06D85F;
}
.popup-ad-box-bottom .popup-ad-content {
  animation: animatebottom 0.5s;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}
.popup-ad-box-top .popup-ad-content {
  animation: animatebottom 0.5s;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
