.edit-ads:hover,
.save-ads:hover {
	cursor: pointer;
}

.edit-ads,
.save-ads {
	background: #006799;
	color: #fff;
	margin: 5px;
	padding: 0 5px;
}

.cmb-type-title .cmb2-metabox-title{
	font-size: 22px;
}
.cmb-th label{
	font-weight: normal;
}
.cmb-type-text input{
	    color: #666;
    font-weight: 400;
}
.dnone{
    display: none !important;
}